*.iml
*.iws
*.ipr
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
target
.idea/libraries
.classpath
.project
.settings/
uiDesigner.xml
seeld-server.iml
/.idea/
data
/makefile
